body {
    background-color: #4f709c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5d283;
    height: 100vh;
}

input,
select {
    width: 20rem;
    border: 3px solid #e5d283;
    margin-bottom: 0.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
